# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Directory specific files
#Homework 1
Homework\ 1/Report/
Homework\ 1/misc
Homework\ 1/Homework\ Submission

#Homework 2
Homework\ 2/boost_1_61_0/
Homework\ 2/misc/
